<div>
  <h1>{{ collection.title }}</h1>

  {% if collection.image %}
      <img src="{{ collection.image | img_url: 'grande' }}" class="collection" />
  {% endif %}

  <div class="grid-wrapper">
  {% if collection.all_products_count > 0 %}
  {% for product in collection.products %}
    <div class="grid-number">
      <a href="{{ product.url }}"><img src="{{ product.featured_image | product_img_url: 'large' }}"/></a>
      <br/>
      <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
      {{ product.price | money_with_currency }}
      </div>
      {% endfor %}
    {% else %}
    <p>Sorry, there are no products in this collection</p>
  {% endif %}
  </div>
</div>
