<div>
  {% assign collection = collections.black-and-white %}
  <h1>Featured Collection</h1>
  <h2><a href="{{ collection.url }}">{{ "Shop " }}{{ collection.title }}</a></h2>
  <a href="{{ collection.url }}"><img src={{ collection.image | img_url: 'grande' }} ></a>
</div>
